.task-item {
  background-color: #e8f1f2;
  border: solid thin #13293d;
  margin: 10px;
  padding: 20px;
  border-radius: 5px;
  display: flex;
}

.task-item.checked {
  text-decoration: line-through;
  color: #618ab1;
}

.task-item__title {
  flex: auto;
  margin: 0 15px;
}

.task-item__owner {
  flex: auto;
}
